body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
}